/* For more information visit keen-slider.io */

/* Modified */
.wrapper {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #fff;
}

/* Modified */
.wheel {
  color: black;

  display: block;
  height: 200px;
  overflow: visible;
  width: 100%;
}
.wheel--perspective-right .wheel__inner {
  perspective-origin: calc(50% + 100px) 50%;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
}
.wheel--perspective-left .wheel__inner {
  perspective-origin: calc(50% - 100px) 50%;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}

.wheel__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: 16%;
  width: 100%;
}

.wheel__slides {
  height: 100%;
  position: relative;
  width: 100%;
}

/* Modified */
.wheel__shadow-top,
.wheel__shadow-bottom {
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.5),
      hsla(0, 0%, 100%, 0.1)
    ),
    linear-gradient(0deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.1));
  left: 0;
  height: calc(42% + 2px);
  width: 100%;
  border-bottom: 0.5px solid #ddd;
  position: relative;
  margin-top: -2px;
  z-index: 5;
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
}

/* Modified */
.wheel__shadow-bottom {
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.5),
      hsla(0, 0%, 100%, 0.1)
    ),
    linear-gradient(0deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.1));
  margin-top: 2px;
  border-bottom: none;
  border-top: 0.5px solid #ddd;
}

.wheel__label {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  margin-top: 1px;
  margin-left: 5px;
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
}

.wheel__slide {
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
}

#date-wheel {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex: 1;
}

#hour-wheel {
  display: flex;
  align-items: center;
  flex: 1;
}

#minute-wheel {
  display: flex;
  align-items: center;
  flex: 1;
}
